/* Estilizar a Sidenav */
.sidenav {
  width: 250px; /* Largura da sidenav */
  background-color: #F07619; /* Cor de fundo laranja */
  color: white; /* Cor dos textos na sidenav */
  height: 100%; /* Altura para ocupar toda a tela */
}

/* Estilizar itens da lista */
.mat-list-item {
  color: white; /* Cor dos textos na sidenav */
}

/* Estilizar o item de logout */
.logout-item {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
}

/* Estilizar o conteúdo */
.mat-sidenav-content {
  background-color: #2C2C2C; /* Cor de fundo da área de conteúdo */
  color: white; /* Cor dos textos na área de conteúdo */
}

/* Estilizar a barra de ferramentas */
.toolbar {
  background-color: #F07619; /* Cor de fundo da barra de ferramentas */
  color: white;
}

/* Estilizar o título da barra de ferramentas */
.toolbar-title {
  flex: 1;
  text-align: center;
  font-weight: bold; /* Deixa o texto mais forte */
  font-size: 1.5em; /* Aumenta o tamanho da fonte */
}

/* Estilizar o conteúdo da página */
.page-content {
  padding: 16px;
  margin-top: 64px; /* Evitar sobreposição com a toolbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Altura da página, excluindo a toolbar */
}

/* Estilizar o card de chat */
.chat-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Estilizar a área de mensagens */
.chat-messages {
  max-height: 400px;
  overflow-y: auto;
}

/* Estilizar mensagens de chat */
.message {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
}

.sent {
  background-color: #DCF8C6;
  text-align: right;
}

.received {
  background-color: #FFFFFF;
  text-align: left;
}

/* Estilizar o campo de entrada de mensagem */
.message-input {
  margin-top: 16px;
}
